/* =========================
   START SCREEN
========================= */

#start-screen {
    position: fixed;
    inset: 0;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    background: black;

    z-index: 20;
}

#title {
    margin: 0;
    margin-bottom: 45px;

    font-family: "Segoe UI", sans-serif;

    font-size: clamp(2.2rem, 4vw, 4.8rem);

    font-weight: 200;

    letter-spacing: 6px;

    user-select: none;
}

.red {
    color: #b30000;
}

.grey {
    color: #8a8a8a;
}

#initialize {

    padding: 14px 46px;

    background: rgba(255,255,255,0.02);

    color: #8a8a8a;

    border: 1px solid rgba(255,255,255,0.18);

    border-radius: 2px;

    font-size: 15px;

    letter-spacing: 3px;

    cursor: pointer;

    transition:
        color .35s,
        border-color .35s,
        background .35s,
        box-shadow .35s,
        transform .2s;
}

#initialize:hover {

    color: #b30000;

    border-color: #b30000;

    background: rgba(179,0,0,.06);

    box-shadow:
        0 0 8px rgba(179,0,0,.25);

}

#initialize:active {

    transform: scale(.98);

}

#boot {
    position: fixed;
    inset: 0;

    background: black;
    color: red;

    font-family: monospace;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    transform: translateY(-10%);
}

#log {
    text-align: center;
    line-height: 1.8;

    animation: breathe 2.6s ease-in-out infinite;
}

#progress-container {
    width: 300px;
    height: 2px;

    background: #220000;

    margin-top: 30px;
}

#progress-bar {
  height: 100%;
  width: 0%;
  background: red;
  transition: width 0.1s linear;
}

@keyframes breathe {
    0% {
        opacity: 0.6;
        /*transform: scale(1);*/
    }

    50% {
        opacity: 1;
        /*transform: scale(1.02);*/
    }

    100% {
        opacity: 0.6;
        /*transform: scale(1);*/
    }
}